
@font-face {
  font-family: 'Athelas-Regular';
  src: url('Athelas-Regular.eot?#iefix') format('embedded-opentype'),  url('Athelas-Regular.woff') format('woff'), url('Athelas-Regular.ttf')  format('truetype'), url('Athelas-Regular.svg#Athelas-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
